# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SE2250_SWE_Project.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
